.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  overflow: hidden;
  padding: 1rem;
}

.welcome {
  font-family: var(--font-poppins);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 8rem;
  border-radius: 20px;
  box-shadow: 6px 2px 2px 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  background-color: #f1fffac5;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: none repeat scroll 0 0 transparent;
  font-family: var(--font-poppins);
  border: medium none;
  border-spacing: 0;
  color: #f1fffa;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.42rem;
  background-color: #64896a;
  border-radius: 20px;
  list-style: none outside none;
  margin: 1rem 0;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.4s;
}

.btn:hover {
  background-color: #333;
}

.quizTitle {
  font-family: var(--font-poppins);
  font-size: 3rem;
  color: #454545;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .welcome {
    padding: 2rem 4rem;
  }

  .quizTitle {
    font-size: 3rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 0.8rem 2.5rem;
  }
}

@media (max-width: 480px) {
  .welcome {
    padding: 1rem 2rem;
  }

  .quizTitle {
    font-size: 2rem;
  }

  .btn {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
  }
}
