.success, .error {
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  animation: fadeInDown 0.8s ease-in-out forwards 0.2s;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.progress_bar {
  width: 100%; 
  max-width: 1200px; 
  height: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px auto; 
}

.progress_bar div {
  height: 100%;
  background: #76c7c0;
  transition: width 0.3s ease-in-out;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.restartBtn {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #FFF;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #64896A;
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.restartBtn:hover {
  background-color: #333;
}

.parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #93B7BE;
  padding: 20px;
}

.completedQuiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  filter: blur(10px);
  animation: fadeInUp 0.8s ease-in-out forwards 0.2s;
}

.completedTitle {
  font-size: 2rem;
  font-family: var(--font-montserrat);
  font-weight: 600;
  color: #454545;
  margin-bottom: 20px;
}

.score {
  font-size: 1.5rem;
  font-family: var(--font-montserrat);
  color: #15505d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@media (max-width: 768px) {
  .completedQuiz {
    padding: 20px;
  }

  .completedTitle {
    font-size: 1.5rem;
  }

  .score {
    font-size: 1rem;
  }

  .restartBtn {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .progress_bar {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .completedQuiz {
    padding: 15px;
  }

  .completedTitle {
    font-size: 1.2rem;
  }

  .score {
    font-size: 0.9rem;
  }

  .progress_bar {
    width: 100%;
  }

  .restartBtn {
    font-size: 0.8rem;
    padding: 0.4rem;
  }
}
